@media (max-width:1400px) {
    .container{
        width: 1140px;
    }
    .w-xl-1{
        width: 8.33%;
    }
    .w-xl-2{
        width: 16.66%;
    }
    .w-xl-3{
        width: 25%;
    }
    .w-xl-4{
        width: 33.33%;
    }
    .w-xl-5{
        width: 41.66%;
    }
    .w-xl-6{
        width: 50%;
    }
    .w-xl-7{
        width: 58.33%;
    }
    .w-xl-8{
        width: 66.66%;
    }
    .w-xl-9{
        width: 75%;
    }
    .w-xl-10{
        width: 83.33%;
    }
    .w-xl-11{
        width: 91.66%;
    }
    .w-xl-12{
        width: 100%;
    }
    .right-slider{
        display: block;
    }
    .right-slider .box-color{
        left: 20%;
    }
    .right-slider .box-border{
        left: 17%;
    }
    .circle-1{
        left: 66%;
    }
    .circle-2{
        left: 13%;
    }
    .circle-3{
        left: 66%;
    }
    .slider .whoim{
        left: -10%;
    }
    .whoim span{
        font-size: 195px;
    }
    .heading span{
        font-size: var(--fs-36);
    }
    .left-4-img img{
        right: 55px;
    } 
    .s-4 .whoim-2{
        left: 3%;
    }
    .s-4 .whoim-2 span{
        font-size: 160px;
    } 
    .s-6 .test-1{
        display: block;
        left: 43%;
    }
    .s-6 .test-2{
        display: block;
        right: 57%;
    }
}

@media (max-width:1200px) {
    .container{
        width: 992px;
    }
    .w-l-1{
        width: 8.33%;
    }
    .w-l-2{
        width: 16.66%;
    }
    .w-l-3{
        width: 25%;
    }
    .w-l-4{
        width: 33.33%;
    }
    .w-l-5{
        width: 41.66%;
    }
    .w-l-6{
        width: 50%;
    }
    .w-l-7{
        width: 58.33%;
    }
    .w-l-8{
        width: 66.66%;
    }
    .w-l-9{
        width: 75%;
    }
    .w-l-10{
        width: 83.33%;
    }
    .w-l-11{
        width: 91.66%;
    }
    .w-l-12{
        width: 100%;
    }
    .social-icon{
        display: block;
        left: -85px;
    }
    .right-slider{
        display: block;
    }
    .right-slider .box-color{
        left: 15%;
    }
    .right-slider .box-border{
        left: 13%;
    }
    .circle-1{
        left: 72%;
    }
    .circle-2{
        left: 10%;
    }
    .circle-3{
        left: 72%;
    }
    .slider .whoim{
        left: -5%;
    }
    .whoim span{
        font-size: 150px;
    }
    .box-border-1{
        left: 3%;   
        width: 400px;
    }
    .right-content-1{
        padding-top: 20px;
        text-align: start;
    }
    .im{
        right: 0%;
        top: 25%;
    }
    .im span{
        font-size: 250px;
    }
    .footer-items form i{
        right: 25px;
    }
    .heading span{
        font-size: var(--fs-36);
    }
    .left-4-img img{
        right: 20px;
    } 
    .s-4 .whoim-2{
        left: -2%;
    }
    .s-4 .whoim-2 span{
        font-size: 150px;
    } 
    .s-6 .test-1{
        display: block;
        left: 31%;
    }
    .s-6 .test-2{
        display: block;
        right: 49%;
    }
}


@media (max-width:992px) {
    .container{
        width: 720px;
    }
    .w-m-1{
        width: 8.33%;
    }
    .w-m-2{
        width: 16.66%;
    }
    .w-m-3{
        width: 25%;
    }
    .w-m-4{
        width: 33.33%;
    }
    .w-m-5{
        width: 41.66%;
    }
    .w-m-6{
        width: 50%;
    }
    .w-m-7{
        width: 58.33%;
    }
    .w-m-8{
        width: 66.66%;
    }
    .w-m-9{
        width: 75%;
    }
    .w-m-10{
        width: 83.33%;
    }
    .w-m-11{
        width: 91.66%;
    }
    .w-m-12{
        width: 100%;
    }
    .hamburger{
        display: none;
    }
    nav{
        display: block;
    }
    .cta-btns{
        display: block;
    }
    .social-icon{
        display: none;
    }
    .right-slider{
        display: none;
    }
    .box-border-1{
        left: 3%;   
        width: 500px;
    }
    .right-content-1{
        padding-top: 20px;
        text-align: center;
    }
    .im{
        right: 0%;
        top: 25%;
    }
    .im span{
        font-size: 250px;
    }
    .s-1 .row{
        justify-content: center;
    }
    .footer-items form i{
        right: 20px;
    }
    .heading span{
        font-size: var(--fs-36);
    }
    .left-4-img img{
        right: 130px;
    }  
    .s-4 .whoim-2{
        left: 16%;
    }
    .s-6 .test-1{
        left: 11%;
        display: block;
    }
    .s-6 .test-2{
        right: 33%;
        display: block;
    }
}

@media (max-width:768px) {
    .container{
        width: 540px;
    }
    .w-s-1{
        width: 8.33%;
    }
    .w-s-2{
        width: 16.66%;
    }
    .w-s-3{
        width: 25%;
    }
    .w-s-4{
        width: 33.33%;
    }
    .w-s-5{
        width: 41.66%;
    }
    .w-s-6{
        width: 50%;
    }
    .w-s-7{
        width: 58.33%;
    }
    .w-s-8{
        width: 66.66%;
    }
    .w-s-9{
        width: 75%;
    }
    .w-s-10{
        width: 83.33%;
    }
    .w-s-11{
        width: 91.66%;
    }
    .w-s-12{
        width: 100%;
    }
    nav{
        display: none;
    }
    .cta-btns{
        display: none;
    }
    .social-icon{
        display: none;
    }
    .right-slider{
        display: none;
    }
    .box-border-1{
        left: 3%;   
    }
    .right-content-1{
        padding-top: 20px;
    }
    .im{
        right: 0;
    }
    .footer-items form{
        overflow: hidden;
    }
    .heading span{
        font-size: var(--fs-26);
    }
    .s-4 .whoim-2 span{
        font-size: 150px;
    } 
    .s-4 .whoim-2{
        left: 4%;
    }
    .left-4-img img{
        right: 45px;
    }   
    .s-6 .test-1{
        display: none;
    }
    .s-6 .test-2{
        display: none;
    }
}

@media (max-width:576px) {
    .container{
        width: 100%;
    }
    .w-xs-1{
        width: 8.33%;
    }
    .w-xs-2{
        width: 16.66%;
    }
    .w-xs-3{
        width: 25%;
    }
    .w-xs-4{
        width: 33.33%;
    }
    .w-xs-5{
        width: 41.66%;
    }
    .w-xs-6{
        width: 50%;
    }
    .w-xs-7{
        width: 58.33%;
    }
    .w-xs-8{
        width: 66.66%;
    }
    .w-xs-9{
        width: 75%;
    }
    .w-xs-10{
        width: 83.33%;
    }
    .w-xs-11{
        width: 91.66%;
    }
    .w-xs-12{
        width: 100%;
    }
    nav{
        display: none;
    }
    .cta-btns{
        display: none;
    }
    .social-icon{
        display: none;
    }
    .right-slider{
        display: none;
    }
    .box-border-1{
        left: 3%;   
    }
    .right-content-1{
        padding-top: 20px;
    }
    .im{
        right: 0;
    }
    .footer-items form{
        overflow: hidden;
    }
    .heading span{
        font-size: var(--fs-26);
    }
    .left-4-img img{
        left: 180px;
    }   
    .s-4 .whoim-2{
        left: 5%;
    }
    .s-4 .whoim-2 span{
        font-size: 150px;
    } 
    .s-6 .test-1, .s-6 .test-2{
        display: none;
    }
}

@media (min-width:1401px) {
    .container{
        width: 1320px;
    }
    .w-xxl-1{
        width: 8.33%;
    }
    .w-xxl-2{
        width: 16.66%;
    }
    .w-xxl-3{
        width: 25%;
    }
    .w-xxl-4{
        width: 33.33%;
    }
    .w-xxl-5{
        width: 41.66%;
    }
    .w-xxl-6{
        width: 50%;
    }
    .w-xxl-7{
        width: 58.33%;
    }
    .w-xxl-8{
        width: 66.66%;
    }
    .w-xxl-9{
        width: 75%;
    }
    .w-xxl-10{
        width: 83.33%;
    }
    .w-xxl-11{
        width: 91.66%;
    }
    .w-xxl-12{
        width: 100%;
    }
    .right-slider{
        display: block;
    }
    .right-slider .box-color{
        left: 25%;
    }
    .right-slider .box-border{
        left: 21%;
    }
    .circle-1{
        left: 63%;
    }
    .circle-2{
        left: 19%;
    }
    .circle-3{
        left: 63%;
    }
    .slider .whoim{
        left: -5%;
    }
    .whoim span{
        font-size: 195px;
    }
    .footer-items form i{
        right: 75px;
    }
    .heading span{
        font-size: var(--fs-36);
    }
    .left-4-img img{
        right: 100px;
    } 
    .s-4 .whoim-2 span{
        font-size: 180px;
    } 
    .s-4 .whoim-2{
        left: 1%;
    }
    .s-6 .test-1{
        left: 51%;
        display: block;
    }
    .s-6 .test-2{
        display: block;
        left: -2%;
    }
}